#content {
    margin: 0 auto;
    max-width: 960;
}
header {
    background-color: red;
    justify-content: center;

}
footer {
    background-color: red;
    border-radius: 15px;
    text-align: center;
}
body {
    margin: 0 auto;
}