
@media only screen and (min-width: 64rem) {
    .container {margin: 1rem auto; display:grid; grid-template-columns: 1fr 1fr 1fr; max-width: 1048px; display: flex;}

      .norm:hover {box-shadow: 0 0 50px #333;}
    nav ul li a {
        padding: .6rem 1rem;
        }
    
    } /*end large*/