img {
    height: 400px;
    width: 300px;
    border: 1px solid red;
    padding: 2px;
}

main {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

