/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
  
:root {
  --primary-color: lightblue;
}
.banner-box {
  max-width: 100%;
}
.logo-box {
  max-width: 100%;
}
.socialmedias {
  max-width: 100%;
}
    #content { 
      max-width: 960px;
      margin: 0 auto; 
      border: 30px solid black;
      padding: 20px;
    }
    footer {
      height: 55px;
      background-color: lightblue;
      max-width: 100%;
    }
#pfoot {
  color: black;
}
html {
  background-color: var(--primary-color);
}
                
header {
    align-items: center;       
}
.time {
  text-align: left;
}
     
    .home-paragraph-1 {
      text-align: left;
    }
    .home-right-img {
 
      width: 100%;
      height: 363px;
  border: 10px solid black;
      max-width: 100%;
    }
    article img[data-src] {
      filter: blur(0.2em);
    }
    
    article img {
      filter: blur(0em);
      transition: filter 0.5s;
    }
.creator-img-1 {
  
  border: 10px solid white;
  max-width: 100%;
}


.creator-img-2 {

  height: 320px;
  border: 10px solid white;
  max-width: 100%;
  
}
    
    .banner-box img {
      width: 100%;
    }
    ul {
      font-family:"georgia";
    }
    p {
      color:grey;
      font-family:"georgia";
      padding: 1em;
      font-size: 20px;
    }
    h2 {
      font-family:"elephant";
      border-top: double;
    border-bottom: 5px double;
      color:red;
    }
li {
  font-family:"elephant";
}
    .socialmedias {
      padding:10px;
      float:right;
      grid-column: 4/6;
      grid-row: 7/8;
    }

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
        
}
.moveDown {
    margin-top: 3em;
}
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;

}                    
.card {
  width: 320px;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 3px;
  background-color: white; 
  overflow: hidden;
  border-radius: 3px 0 0 3px;
  padding: 5px;
  border-color: #888;
  padding: 5px;
}
nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555
}
nav {
  background-color: #ccc;
  font-family: verdana, sans-serif;
  padding: 0;
  margin: 0;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    margin: 0;
    padding: 0;
}
nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {
  background-color: rgba(0,0,0,0.4);
}
nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
nav ul.hide {
  display: none;
}