#content {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}

header, footer {
    background-color: red;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'American Typewriter', serif;
    border-radius: 20px;
    padding: .50em 1.5em .50em 5em;
}
h1, h2 {
    font-family: 'Bangers', cursive;
}
body {
    margin: 3em;
    background-color: white;
}

a {
    color: blue;
}

footer {
    color: white;
}
img {
    max-width: 315px;
}
.wfirst, .cfirst {
    place-items: center;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    margin: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.first {
    grid-row: 0/1;
    grid-column: 0/1;
}
.second {
    grid-row: 0/1;
    grid-column: 1/2;
}
.third {
    grid-row: 0/1;
    grid-column: 2/3;
}